--indent 2
--elseposition same-line
--exponentgrouping disabled
--fractiongrouping disabled
--hexliteralcase lowercase
--self remove
--semicolons inline
--stripunusedargs closure-only
--trailingclosures true
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--funcattributes same-line
--typeattributes prev-line
--varattributes same-line
